---
layout: default
title: Careers
---

<h1 class="text-center">Join the Growth!</h1>
<p class="text-muted text-center">Over the past seven years, we have grown from 11 employees to nearly 80. Our potential for expansion and growth is projected to exceed 100 employees sooner rather than later. </p>

<div class="text-center about-buttons">
    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#about-modal">About Cascade Agronomics, LLC</button>
    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#moses-lake-modal">About Moses Lake, WA</button>
    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#hermiston-modal">About Hermiston, OR</button>
</div>

{% include about-modal.html %}
{% include moses-lake-modal.html %}
{% include hermiston-modal.html %}
<br>

<p>
<strong> Cascade Agronomics, LLC</strong> is a full-service agronomy company serving the greater Columbia Basin and Hermiston, OR, areas. From planting to harvest, we provide farmers with the products and service needed to achieve desired results. We are one of the area’s largest providers of natural fertilizers and specialize in the transport and application of cattle and chicken fertilizers.

<hr>

<div class="panel-group" id="accordion">
  {% for post in site.posts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row"> 
          <div class="col-xs-10">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{ post.accordion-id }}">{{ post.title }}</a>
            </h4>
          </div>

          <div class="col-xs-2">
            <div class="pull-right">
              <a class="btn btn-sm btn-primary" href="/apply">Apply</a>
            </div>
          </div>
        </div>
      </div>
      <div id="{{ post.accordion-id }}" class="panel-collapse collapse">
        <div class="panel-body">
          {{ post.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
