<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About Cascade Agronomics</h4>
      </div>

      <div class="modal-body">

        <img class="img-responsive img-ctr" src="/img/caemployees.jpg"/>
        <br>

        <p>Cascade Agronomics is a full-service agronomy company serving the greater Columbia Basin and Hermiston, OR, areas. From planting to harvest, we provide farmers with the products and service needed to achieve desired results. We are one of the area’s largest providers of natural fertilizers and specialize in the transport and application of cattle and chicken fertilizers. </p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Benefits you will enjoy as a career professional with Cascade Agronomics, LLC:</h2>
          </div>

          <ul class="list-group">

            <li class="list-group-item">
              <h4 class="list-group-item-heading">Our workplace environment:</h4>
              <p>A professional, customer-conscious, fast-paced work environment</p>
              <p>A positive, diverse, and friendly employee culture focused on teamwork and success</p>
              <p>Opportunities for training and professional development</p>
              <p>A coaching and mentoring culture that promotes from within</p>
            </li>

            <li class="list-group-item">
              <h4>Ag Professionals:</h4>
                <p>Agriculture and transportation professionals use state-of-the-art equipment and technologies including AgvanceTM.</p>
                <p>Our specialty products include RedoxTM, natural fertilizer products, and lime</p>
                <p>We offer an application bonus incentive program for Custom Applicators</p>
                <p>Internship opportunities are available for agronomy students to learn on the job skills and increase competencies</p>
            </li>

            <li class="list-group-item">
              <h4>Benefits we offer:</h4> 
              <p>Medical, dental, and vision benefits</p>
              <p>401(k) retirement plan</p>
              <p>Paid personal time off</p>
              <p>Overtime pay</p>
              <p>Bonus Incentives for quality work</p>
            </li>
          
          </ul>
        </div>

        <img class="img-responsive img-ctr" src="/img/ca_ribbon.jpg" alt="Cascade Agronomics, LLC" style="height: 90px; align: right">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
