<div id="contact-container" class="ltr">

  <form id="form1" name="form1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
        action="https://krscareers.wufoo.com/forms/z6h0rz90knb4w6/#public">
      
    <header id="header">
      <h3 class="text-center">Apply at KickBack Rewards Systems</h3>
    </header>

    <div class="form-group">
      <label id="title1" for="Field1">
        Name
        <span class="form-req">*</span>
      </label>

      <input id="Field1" name="Field1" type="text" class="form-control" 
        maxlength="255" tabindex="1" onkeyup="" placeholder="Johnny Appleseed" required autofocus>
    </div>

    <div class="form-group">
      <label id="title2" for="Field2">
        Email
        <span class="form-req">*</span>
      </label>

      <input id="Field2" name="Field2" type="email" spellcheck="false" class="form-control" 
        value="" maxlength="255" tabindex="2" placeholder="me@domain.com" required> 
    </div>

    <div class="form-group">
      <label id="title11" for="Field11">
        Phone
        <span class="form-req">*</span>
      </label>
      
      <input id="Field11" name="Field11" type="text" class="form-control" 
        value="" tabindex="3" onkeyup="" placeholder="(208) 012-3456" required>
    </div>

    <div class="form-group">
      <label id="title4" for="Field4">
        Additional information
      </label>

      <textarea id="Field4" name="Field4" class="form-control" 
        spellcheck="true" rows="10" cols="50" tabindex="6" placeholder="Tell us a little about yourself." onkeyup=""></textarea>

     <span class="help-block"><small>Link us to a resume here, too.</small></span>
    </div>

    <div class="form-group">
      <label id="title5" for="Field5">
        Website
      </label>

      <input id="Field5" name="Field5" type="url" class="form-control" value="" maxlength="255" tabindex="7" placeholder="domain.com"> 
    </div>

    <div class="form-group">
      <label class="desc" id="title9" for="Field9">
      Github
      </label>

      <input id="Field9" name="Field9" type="url" class="field text medium form-control" value="" maxlength="255" tabindex="8" placeholder="github.com/username"> 

      <span class="help-block"><small>We consider code to be the best resume.</small></span>
    </div>

    <div class="form-group">
      <input id="saveForm" name="saveForm" class="btn btn-default" type="submit" value="Submit" tabindex="9">
   </div>

    <div class="hide">
      <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="h9C+3wYumSOhZ/vEtnddE5ZJy6pYiUEztaPzpOokylo="/>
    </div>

  </form> 

</div><!--container-->
