<div class="modal fade" id="hermiston-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About Hermiston, OR</h4>
      </div>
      <div class="modal-body">
        <img src="/img/4-phfront-sprinkler1.jpg" class="img-responsive" alt="Hermiston Oregon">
        <br>

        <p>Community pride and small town spirit characterize Hermiston. Situated on the northeastern edge of Oregon in the northwest corner of Umatilla County, Hermiston is centrally located between the major cities of Portland, Spokane and Boise. Its proximity to the recreation areas of the Blue Mountains makes it a favorite destination for those who enjoy fishing, hunting, and camping. In the winter, snowmobiling, skiing, sledding and snow tubing are popular mountain activities.</p>
        <a href="http://www.hermistonchamber.com/">
          <img src="/img/hermiston-tractor.jpg" class="img-responsive img-ctr" alt="The best place to live in Oregon">
        </a>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
