<div class="modal fade" id="moses-lake-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About Moses Lake, WA</h4>
      </div>
      <div class="modal-body">
        <img src="/img/moses.jpg" class="img-responsive" alt="Moses Lake">
        <br>

        <p>Moses Lake, on which the city lies, is made up of three main arms over 18 miles (29 km) long and up to one mile (1.6 km) wide. It is the largest natural body of fresh water in Grant County and has over 120 miles (190 km) of shoreline covering 6,500 acres (2,600 ha). Before it was dammed in the early 1900s and then incorporated into the Columbia Basin Project, Moses Lake was a smaller, salty, shallow lake. One of its early names was "Salt Lake".[5] To the south of the town is the Potholes Wildlife reservation that has a number of seep lakes and vast amounts of migratory birds and other fauna natural to the area.</p>
        <a href="http://www.columbiabasinherald.com/special/moses_lake_magazine/page_650c409d-5776-505c-911b-077fa3944b64.html?mode=pageflip">
          <img src="/img/mosesmagazine.png" class="img-responsive img-ctr" alt="Moses Lake magazine: click here!">
        </a>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
