<style>

/* Core CSS style */
body {
  background-color: #003469;
  background-image: url('/img/background.gif');
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  background-color: white;
  box-shadow: 5px 5px 20px #051b32;
  -webkit-box-shadow: 5px 5px 20px #051b32;
  -moz-box-shadow: -5px 5px 30px #062544;
  margin: 0 auto;
  max-width: 980px;
  padding-right: 0px;
  padding-left:0px;
}

/* Navigation */
.navbar-inverse {
  border-radius: 0px;
}

.navbar-brand {
  padding-top: 14px;
}

.kb-nav-logo {
  margin-top: -5px;
  margin-right: 2px;
}

#kb-user {
  margin: 0;
  padding-top: 5px;
  padding-right: 5px;
}

#kb-user img {
  margin-left: 0px;
}

@media (max-width: 768px) {
  #kb-user {
    padding-top: 0px;
    padding-bottom: 15px;
  }
}

/* Content */
.content {
  padding: 0 20px 25px 20px;
  overflow: auto;
}

/* Footer */
.break {
  background: #cfcfcf;
  height: 3px;
}

footer {
  background-color: #000000;
  color: #808080;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 12px;
  padding-top: 12px;
}

.footer-copy {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

/* Red Debug */
.red {
  border: red 1px solid;
}

/* Navbar */
.img-header {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
}

.navbar-inverse {
  margin-bottom: 0px;
}

/* Contact */
#contact-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

#contact-container h3 {
  margin-bottom: 20px;
}

/* Buttons */
.about-buttons > button {
  margin-bottom: 5px;
}

/* Panels */
#about-modal .panel-title {
  font-size: 22px;
}

/* Job Posts */
.panel-title {
  margin-top: 5px;
}

.panel-body > h1 {
  font-size: 24px;
}

.panel-body > h2 {
  font-size: 18px;
}

.panel-body > h3 {
  font-size: 14px;
}

.panel-body > h4,
.panel-body h5,
.panel-body h6 {
  font-size: 12px
}

/* Form */
.form-req {
  color: red;
}

/* Tricks */
.img-ctr {
  margin-left: auto;
  margin-right: auto;
}

</style>
