<div class="modal fade" id="twin-falls-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">About Twin Falls, ID</h4>
      </div>
      <div class="modal-body">
        <img src="http://upload.wikimedia.org/wikipedia/commons/d/d9/U.S._Highway_93_bridge_from_within_Snake_River_Canyon.jpeg" class="img-responsive" alt="The Perrine Bridge">
        <br>

        <p>Twin Falls' diverse outdoor recreation opportunities range from BASE jumping into the Snake River Canyon, whitewater rafting, fishing, hiking, biking and everything in between. Twin Falls also boasts a thriving agriculture-based economy, represented by both global corporations and small family farms, along with a well-supported school district and community college.</p>
        <a href="http://livability.com/twin-falls/id/magazine">
          <img src="/img/southern_idaho_magazine.jpg" class="img-responsive img-ctr" alt="Southern Idaho magazine: click here!">
        </a>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
